<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Books List</h2>
    <a routerLink="/books/add/" class="btn btn-sm btn-primary">Add</a>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Cover</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of vmodel.state.allBooks; let i = index">
          <th scope="row">{{book.id}}</th>
          <td>{{book.title}}</td>
          <td>{{book.description}}</td>
          <td><img 
            *ngIf="book.coverImagePath?.length"
            style="width: 100px; height: 100px" [src]="book.coverImagePath" [alt]="book.coverImagePath"></td>
          <td class="text-center">
            <a class="btn btn-sm btn-primary" routerLink="/books/edit/{{book.id}}">Edit</a>
            &nbsp;
            <a class="btn btn-sm btn-danger" (click)="rem(book.id, i)">Delete</a>
        </tr>
      </tbody>
    </table>
  </div>
</div>
